asgiref==3.12.1
cloudinary==1.42.0
django-cloudinary-storage==0.3.0
Django==6.1
django-cors-headers==4.9.0
django-environ==0.14.0
djangorestframework==3.18.0
gunicorn==23.0.0
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.3
whitenoise==6.11.0